<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="true" android:label="@string/app_name" android:theme="@style/Theme.PdfReader" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:theme="@style/Theme.PdfReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!--  Allow "Open with" from file managers / other apps  -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>
        </activity>
    </application>
</manifest>